
@import '../../styles/abstracts/functions';
@import '../../styles/abstracts/breakpoints';

$star-width: rem(80);
$margin: rem(20);
$padding: rem(10);
$logo-size: rem(10);

.repoCard {
    padding: $padding;

    .repoCard__header {
        display: flex;
        margin-bottom: $padding;
    }

    .repoCard__title {
        line-height: 1;
        .repoCard__linkWrapper {
            font-size: var(--app-font-block-size);
            font-family: var(--app-font-family);
            font-weight: bold;
        }
    }

    .repoCard__headerLeft {
        flex: 1;
    }

    .repoCard__headerRight {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: $star-width;
        margin-top: calc($padding / 2);

        a {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        svg path {
            fill: var(--app-color);
        }
    }

    .repoCard__stars {
        margin-right: calc($padding / 2);
        color: var(--app-color);
        font-weight: bold;
    }

    .repoCard__link, .repoCard__link:active, .repoCard__link:hover, .repoCard__link:visited{
        color: var(--app-color);
        text-decoration: none;
        position: relative;
    }


    .repoCard__desq {
        color: var(--app-color);
    }

    .repoCard__footer {
        display: flex;
        align-items: center;
        font-size: var(--app-font-comment-size);
    }

    .repoCard__lang-logo {
        display: inline-block;
        width: $logo-size;
        height: $logo-size;
        height: $logo-size;
        border-radius: 50%;
        margin-right: calc($padding / 2);
    }

    .repoCard__lang {
        margin-right: calc($padding / 2);
        font-weight: bold;
    }
}

@media screen {
    @include break-min-max(rem(425), rem(1100)) {
        .repoCard {
            .repoCard__header {
                margin-bottom: $padding;
            }

            .repoCard__title {
                margin-bottom: calc($padding / 2);
                .repoCard__linkWrapper {
                    font-size: var(--app-font-block-size-medium);
                }
            }

            .repoCard__footer {
                font-size: var(--app-font-comment-size-medium);
            }
        }
    }

    @include break-min-max(rem(320), rem(500)) {
        .repoCard {
            .repoCard__header {
                margin-bottom: calc($padding / 2);
            }

            .repoCard__title {
                margin-bottom: calc($padding / 2);
                .repoCard__linkWrapper {
                    font-size: var(--app-font-block-size-small);
                }
            }

            .repoCard__footer {
                font-size: var(--app-font-comment-size-small);
            }
        }
    }
}

