/*
 *=========================================================================
 * Dark Theme
 *=========================================================================
 */

:root {
    // Application
    --app-font-size: 14px;
    --app-font-size-medium: 12px;
    --app-font-size-small: 10px;

    --app-font-title-size: 26px;
    --app-font-title-size-medium: 22px;
    --app-font-title-size-small: 18px;

    --app-font-subtitle-size: 22px;
    --app-font-subtitle-size-medium: 20px;
    --app-font-subtitle-size-small: 16px;

    --app-font-block-size: 20px;
    --app-font-block-size-medium: 18px;
    --app-font-block-size-small: 16px;

    --app-font-comment-size: 12px;
    --app-font-comment-size-medium: 10px;
    --app-font-comment-size-small: 8px;
    
    --app-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    --app-color: #ffffff;
    --app-accent-color: #32639f;  
    --app-nonactive-color: #8d8b8b;  
    --app-bgcolor: #202020;
    --app-ctcolor: #373232;
    --app-border-color: #b3bcc8;
    --app-bgcard-color: #6c6464;
    --app-info-color: #b9b9b9;

    // Scrollbar
    --scroll-width: 5px;
    --scroll-track-bgcolor: #c1c1c152;
    --scroll-thumb-bgcolor: rgba(59, 59, 59, 0.747);
    --scroll-thumb-hover-bgcolor: #555;

    // Button
    --button-font-size: 16px;
    --button-font-size-medium: 14px
    --button-font-size-small: 12px

    // Input
    --input-font-size: 16px;
    --input-font-size-medium: 14px;
    --input-font-size-small: 12px;

    // Selection
    --selection-bgcolor: var(--app-accent-color);
    --selection-color: #fff;
}

/*
 *=========================================================================
 * Light Theme
 *=========================================================================
 */

body:not(.dark-mode) {
    // Application
    --app-color: #000000;
    --app-accent-color: #2f77ca;
    --app-bgcolor: #f1f0f0;
    --app-ctcolor: #ffffff;
    --app-border-color: #3b3f44;
    --app-nonactive-color: #b7b7b7; 
    --app-bgcard-color: #dbdada;
    --app-info-color: #7c7c7c;

    // Selection
    --selection-bgcolor: var(--app-accent-color);
    --selection-color: #fff;

    // Scrollbar
    --scroll-track-bgcolor: #c3c1c11f;
    --scroll-thumb-bgcolor: rgb(59 59 59 / 30%);
    --scroll-thumb-hover-bgcolor: var(--app-accent-color);
}
