@import '../../styles/abstracts/breakpoints';
@import '../../styles/abstracts/functions';

.screen {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: goldenrod;
    width: rem(1024);
    padding: 0 rem(20);

    @include break-min-max(rem(425), rem(1100)) {
        width: rem(425);
        padding: 0 rem(10);
    }

    @media screen {
        @include break-min-max(rem(320), rem(500)) {
            width: rem(320);
            padding: 0 rem(5);
        }
    }
}

.screen__content {
    flex: 1;
}

.screen--dark {
    background-color: rgb(227, 206, 152);
}

