@import '../../styles/abstracts/breakpoints';
@import '../../styles/abstracts/functions';

.screen {
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
    flex-direction: column;

    width: rem(1024);
    padding: 0 rem(20);

    @media screen {
        @include break-min-max(rem(425), rem(1100)) {
            width: rem(425);
            padding: 0 rem(10);
        }

        @include break-min-max(rem(320), rem(500)) {
            width: rem(320);
            padding: 0 rem(5);
        }
    }
}

.screen__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.screen__simpleSwitch {
    display: flex;
    justify-content: flex-end;
}

