@import '../../styles/Base.scss';

#app {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    user-select: none;
    align-items: center;
    justify-content: center;

    &.has-border {
        border: var(--app-border-color);
    }
}