@import '../../styles/abstracts/breakpoints';
@import '../../styles/abstracts/functions';

$main-width: rem(640);
$medium-width: rem(350);
$small-width: rem(250);
$margin: rem(20);
$margin-medium: rem(10);
$margin-small: rem(5);

.homePage {
    width: $main-width;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: $margin;
}

.homePage__searchInput {
    .textField {
        width: 100%;
        margin-bottom: $margin;
    }

    label {
        font-size: var(--input-font-size);
        color: var(--app-nonactive-color); 
    }

    input {
        width: 100%;
        font-size: var(--input-font-size);
        color: var(--app-color);
        background: var(--app-bgcolor);
    }

    legend {
        width: 0;
    }

    fieldset {
        border-color: var(--app-border-color);
    }

    .MuiInputLabel-root.Mui-focused, .MuiInputLabel-root.MuiInputLabel-shrink {
        display: none;
    }
}

.homePage__submit button {
    width: 100%;
}

@media screen {
    @include break-min-max(rem(425), rem(1100)) {
        .homePage {
            width: $medium-width;
        }

        .search {
            margin-bottom: $margin-medium;
        }

        .homePage__searchInput input {
            font-size: var(--input-font-size-medium);
            padding: $margin-medium $margin-medium;
        }

        .homePage__searchInput label {
            top: -$margin-small;
            font-size: var(--input-font-size-medium);
        }

        .textField  {
            margin-bottom: $margin-medium;
        }
    }

    @include break-min-max(rem(320), rem(500)) {
        .homePage {
            width: $small-width;
        }

        .homePage__searchInput input {
            font-size: var(--input-font-size-small);
            padding: $margin-small $margin-small;
        }

        .homePage__searchInput label {
            top: -$margin-medium;
            font-size: var(--input-font-size-small);
        }
    }
}